@model Raven.Client.Linq.IRavenQueryable<RavenDBBlogWeb.PostsByTagResult>

        <h2>Posts by Tag</h2>
        <table>
            <tr>
                <th>Tag</th>
                <th>Post Count</th>
            </tr>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@result.Tag</td>
                    <td>@result.PostCount</td>
                </tr>
            }
        </table>